<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="canonical" href="{{ url }}" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <article class="row">
      <div class="col-md-12" role="main">
        {{{ contents }}}
      </div>
    </article>
  </div>
  <footer>
    <div class="col-md-12">
      <p>This is an archived version coming originally from <a href="{{ url }}">{{ url }}</a> and archived using <a href="https://github.com/renoirb/archivator-demo">Archivator</a>.</p>
    </div>
  </footer>
  <style>
    body > footer {
      padding: 40px 0;
      color: #999;
      text-align: center;
      background-color: #f9f9f9;
      border-top: 1px solid #e5e5e5;
    }
  </style>
</body>
</html>
